img[src="assets/LOGO_SOLWIT.png"] {
    max-width: 500px;
    width: 100%;
    margin: 10% auto;
    display: block;
}

h3#mmotelgitbooksiojs-path-functionalcontent,
h1#ścieżka-javascript-programowanie-funkcyjne {
    text-align: center;
}
